<div
  class="card mx-4 mx-md-5 shadow-5-strong fondoForm"
  [ngClass]="{
    divOscuro: getModo(),
    divClaro: !getModo()
  }"
>
  <div class="card-body py-5 px-md-5">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8">
        <h1
          [ngClass]="{
            txtOscuro: getModo(),
            txtClaro: !getModo()
          }"
        >
          {{ noticia.getTitulo() }}
        </h1>

        <p
          [ngClass]="{
            txtOscuro: getModo(),
            txtClaro: !getModo()
          }"
        >
          {{ noticia.getContenido() }}
        </p>

        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="btnVolverPulsado()">Volver</button>
      </div>
      <br><br><br><br>
      <img id="imagenConstruccion" src="../../../assets/enConstruccion.jfif">
    </div>
  </div>
</div>
