<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image imagenFondo"></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong fondoForm">
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Iniciar sesión</h2>
          <form [formGroup]="miFormulario" novalidate>
            <!-- Usuario input -->
            <div class="form-outline mb-4">
              <input
                #inputUsuario
                formControlName="controlUsuario"
                type="text"
                id="form3Example3"
                class="form-control"
              />
              <label class="form-label" for="form3Example3"
                >Nombre de usuario</label
              >
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input
                #inputContrasenya
                formControlName="controlContrasenya"
                type="password"
                id="form3Example4"
                class="form-control"
              />
              <label class="form-label" for="form3Example4">Contraseña</label>
            </div>

            <label
              *ngIf="
                (controlUsuario.invalid || controlContrasenya.invalid) &&
                (controlUsuario.dirty || controlContrasenya.dirty)
              "
              class="err form-check-label"
              >Campos incorrectos.</label
            >

            <label *ngIf="incorrecto" class="err form-check-label"
              >Usuario y/o contraseña incorrectos.</label
            >

            <br /><br />

            <!-- Submit button -->
            <button
              (click)="comprobarInicioSesion(inputUsuario, inputContrasenya)"
              type="submit"
              class="btn btn-primary btn-block mb-4"
            >
              Iniciar Sesión
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
